@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap");

.App {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px 0px 50px;
  position: relative;
  top: 0;
}

body {
  background: url("https://i.imgur.com/II8Rvqp.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #fbdb5b;
  font-size: 23px;
  font-weight: bold;
}

a,
p {
  color: #fbdb5b;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
}

.login-logo {
  width: 600px;
}

.landing-container {
  margin-top: 14%;
}

.login-container {
  margin-top: 6%;
}

.register-container {
  margin-top: 0vh;
}

.login-field,
.register-field,
.create-field,
.edit-field {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  width: 550px;
  height: 65px;
  margin: 20px;
}

.login-button,
.register-button {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  width: 560px;
  height: 70px;
  margin: 20px;
  margin-top: 6vh;
  margin-bottom: 3vh;
  background-color: cornflowerblue;
}

.create-recipe-button {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  width: 560px;
  height: 70px;
  margin: 20px;
  background-color: cornflowerblue;
}

.header-logo {
  width: 180px;
}

.welcome-message {
  margin: 17vh;
  font-size: 45px;
  color: #eeeedd;
  text-shadow: 5px 5px 100px #000000;
  margin-bottom: 40vh;
}

.welcome-title {
  font-weight: bolder;
}

.welcome-body {
  font-style: italic;
  color: #eeeedd;
  text-shadow: 5px 5px 40px #000000;
  line-height: 60px;
}

.recipes-header {
  font-size: 35px;
}

.recipe-cards-container,
a {
  color: #ce7b04;
  font-size: 27px;
  font-weight: bolder;
}

.recipe-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-cards {
  background-color: #eeeedd;
  color: #eeeedd;
  margin: 30px;
  padding: 2%;
  width: 80vh;
  border-radius: 13px;
}

.recipe-card-button {
  margin: 15px;
  height: 35px;
}

.recipe-card-button:hover {
  animation: shake 2.2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(-1px, 0px) rotate(2deg);
  }
  5% {
    transform: translate(0px, -1px) rotate(-2deg);
  }
  10% {
    transform: translate(1px, 0px) rotate(1deg);
  }
  15% {
    transform: translate(-1px, 1px) rotate(1deg);
  }
  20% {
    transform: translate(0px, 0px) rotate(-2deg);
  }
  25% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, -1px) rotate(0deg);
  }
  35% {
    transform: translate(0px, 0px) rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  45% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  55% {
    transform: translate(1px, -1px) rotate(0deg);
  }
  60% {
    transform: translate(0px, 0px) rotate(-1deg);
  }
  65% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  69% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  75% {
    transform: translate(0px, 1px) rotate(1deg);
  }
  80% {
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  85% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  90% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
  95% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 1px) rotate(0deg);
  }
}

.add-recipe-button {
  height: 75px;
  position: sticky;
  bottom: 0vh;
  margin-bottom: 15vh;
}

.create-recipe-container {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-weight: bolder;
  width: 550px;
  height: 65px;
  margin: 20px;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container {
  background-color: #eeeedd;
  color: rgba(43, 40, 40, 0.687);
  text-shadow: 2px 2px 60px #010200;
  margin-left: 30vh;
  margin-right: 30vh;
  margin-top: 7vh;
  padding: 50px 75px 50px 75px;
  letter-spacing: 1.5px;
  border-radius: 3%;
}

.recipe-title {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 1px 15px #000000;
  font-size: 30px;
  padding-bottom: 20px;
}

.details-label {
  color: #da9c2c;
  text-shadow: -1px 1px 80px #010200;
  margin-bottom: 2vh;
  padding: 10px;
}

.details-back {
  margin-top: 5vh;
  height: 40px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
  }

  .login-logo {
    width: 550px;
  }

  .header-logo {
    width: 200px;
    text-align: center;
  }

  .recipes-header {
    font-size: 40px;
  }

  .recipe-cards {
    width: 50vh;
  }

  .recipe-container {
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 50px 55px 50px 55px;
    letter-spacing: 1px;
    border-radius: 5%;
  }

  .details-label {
    margin-bottom: 10px;
  }

  .details-back {
    margin-top: 4vh;
    height: 30px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }

  .landing-container {
    margin-top: 15vh;
    font-size: 20px;
  }

  .login-container {
    margin-top: 2vh;

  }

  .register-container {
    margin-top: 0vh;
  }

  .login-logo {
    width: 300px;
  }

  .header-links, 
  a {
    font-size: 15px;
  }

  .header-logo {
    width: 100px;
  }

  .login-form {
    margin-top: 6vh;
  }

  .register-form,
  a {
    margin-top: 1vh;
    font-size: 22px;
    font-weight: bolder;
  }

  .login-field,
  .register-field {
    font-size: 20px;
    font-weight: bolder;
    width: 300px;
    height: 50px;
    margin: 12px;
  }

  .login-button,
  .register-button {
    width: 325px;
    height: 60px;
    font-size: 20px;
  }

  .register-link,
  .login-link {
    padding-top: 100px;
  }

  .welcome-message {
    margin: 3vh;
    padding-top: 5vh;
    font-size: 20px;
    line-height: 20px;
  }

  .welcome-title {
    font-size: 30px;
    padding-bottom: 15px;
  }

  .recipes-header {
    font-size: 25px;
    margin-top: 5vh;
  }

  .recipe-cards {
    width: 40vh;
  }

  .recipe-name {
    font-size: 20px;
  }

  .recipe-container {
    width: 35vh;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
  }

  .recipe-title {
    font-size: 25px;
  }

  .details-label {
    font-size: 15px;
  }

  .details-back {
    height: 30px;
  }

  .add-recipe-button {
    height: 80px;
    padding: 20px;
  }

}
