.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px 0px 50px;
}

body {
  background-image: url('https://i.imgur.com/II8Rvqp.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  color:whitesmoke;
  font-size: larger;
  font-weight: bold;
  height: 100%;
}

a {
  color: rgb(255, 210, 49);
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
}

.landing-logo {
  width: 470px;
}

.login-logo {
  width: 400px;
}

.header-logo {
  width: 150px;
}

.modal-container {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

