# Rails
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

.byebug_history
/config/master.key

# Node
node_modules
/client/node_modules

# OS
.DS_Store

# Environment variables
.env
.env.*
!.env.example
!client/.env.example

# Client env files
client/.env.development
client/.env.production

# Firebase
firebase-service-account.json

# Netlify
.netlify

# Build outputs
/client/build
/dist