body {
  background-image: url('https://i.imgur.com/II8Rvqp.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  color:whitesmoke;
  font-size: larger;
  font-weight: bold;
  height: 100%;
}

.landing-logo {
  height: 60vh;
}

a {
  color: rgb(255, 210, 49);
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
}

/* .dropbtn {
    background-color: #ffd54c00;
    color: rgb(0, 0, 0);
    font-size: 16px;
    color:whitesmoke;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff00;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f100;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;} */
